ng-map {
  max-width: 90%;
  height: 800px;
  background-color: grey;
}

md-grid-list {
  margin: 8px;
  display: inline-block;
}

.red {
  background: #ff8a80;
}

md-grid-tile {
  transition: all 400ms ease-out 50ms; }
