body {
  background-image: url("http://i.imgur.com/IZM3Ax0.jpg");
  background-size: cover;
  margin: 0 auto;
  text-align: center;
}

label{
  color: white;
  text-align: center;
}
ng-map {
  max-width: 90%;
  height: 800px;
  background-color: grey;
}

md-grid-list {
  margin: 8px;
  display: inline-block;
}

.red {
  background: #ff8a80;
}

md-grid-tile {
  transition: all 400ms ease-out 50ms; }
