body {
  background-image: url('http://i.imgur.com/IZM3Ax0.jpg');
  background-size: cover;
}

.box{
  float:left;
  width: 300px;
  height: 300px;
  margin: 1em;
}


.gray {
  background: #f5f5f5; }

.green {
  background: #b9f6ca; }

.yellow {
  background: #ffff8d; }

.blue {
  background: #84ffff; }

.purple {
  background: #b388ff; }
