<h1 style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 90px; color: orange;">Welcome to The Partiest</h1>
<div class="sign-in-form" ng-hide="vm.toggleValue">
  <h1 style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 40px; color: orange;">Sign In</h1><br><br>
  <form ng-submit="vm.submitLogIn()" name="signInForm" novalidate>
    <md-input-container class="form-group" style="width:400px;">
      <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="exampleInputEmail1" style="font-size: 50px; color: white; text-align: left;">Email address</label>
      <input ng-model="vm.logIn.email" type="email" name="email" required class="form-control" id="exampleInputEmail1" placeholder="Email" style="color:black; font-size: 20px; background-color:#ffff8d;">
    </md-input-container><br>
    <md-input-container class="form-group" style="width:400px;">
      <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="exampleInputPassword1" style="font-size: 50px; text-align:left; color: white;">Password</label><br>
      <input ng-model="vm.logIn.password" type="password" name="password" required class="form-control" id="exampleInputPassword1" placeholder="Password" style="color:black; font-size: 20px; background-color:#ffff8d;">
    </md-input-container><br>
    <md-button type="submit" class="md-primary" style="background-color: white; color: black;" ng-disabled="signInForm.$invalid">Submit</md-button>
  </form>

  <p style="color: white;">
    <strong>
      If you are not a Partiest yet,
      <button ng-click="vm.toggleValue = !vm.toggleValue;"><u>Sign Up</u></button>.
    </strong>
  </p>
</div> <!-- sign-in-form -->

<div class="sign-up-form" ng-show="vm.toggleValue">
  <h1 style="font-family:'Monoton', cursive; font-size: 40px; color: orange;">Sign Up</h1>

  <form ng-submit="vm.submitSignUp();">
    <div class="form-group">
      <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="exampleInputEmail1">Email address</label><br>
      <input ng-model="vm.signUp.email" type="email" ng-class="{'red-border': vm.conflict}" class="form-control" id="exampleInputEmail1" placeholder="Email">
      <small ng-show="vm.conflict" class="text-danger"><em>Email exists…</em></small>
    </div>
    <div class="form-group">
      <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="exampleInputName">Name</label><br>
      <input ng-model="vm.signUp.name" type="text" class="form-control" id="exampleInputName" placeholder="Name">
    </div>
    <div class="form-group">
      <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="exampleInputPassword1">Password</label><br>
      <input ng-model="vm.signUp.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="exampleInputPassword2">Password confirmation</label><br>
      <input ng-model="vm.signUp.passwordConfirmation" type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <p style="font-family:'Monoton', cursive; font-size: 40px; color: orange;">
    <strong>
      If you are already a Partiest,
      <a class="underline" ng-click="vm.toggleValue = !vm.toggleValue;"><u>Sign In</u></a>.
    </strong>
  </p>

  <p style="font-family:'Monoton', cursive; font-size: 30px; color: white;">
    If you can't remember your password,
    <a class="underline"><u>request a new one</u>.</a>
  </p>
</div> <!-- sign-up-form -->
