<h3 style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 80px; color: white;">Edit This Party</h3>
<form ng-submit="editVm.updatePart()">
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="editParty-title">Party Title:</label><br>
    <input type="text" ng-model="editVm.part.partyTitle">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="editParty-organizer">Organizer:</label><br>
    <input type="text" ng-model="editVm.part.organizer" >
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="editParty-company">Company:</label><br>
    <input type="text" ng-model="editVm.part.company" >
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="editParty-video">Video:</label><br>
    <input type="text" ng-model="editVm.part.video"  style="width: 700px;">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="editParty-img">Image URL:</label><br>
    <input type="text" ng-model="editVm.part.map"  style="width: 700px;">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="editParty-location">Location:</label><br>
    <input type="text" ng-model="editVm.part.location"  style="height: 100px; width: 300px;">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="editParty-email">Email:</label><br>
    <input type="text" ng-model="editVm.part.email"  style="width: 300px;">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="editParty-cellPhone">Cell Phone:</label><br>
    <input type="text" ng-model="editVm.part.cellPhone" >
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="editParty-officePhone">Office Phone:</label><br>
    <input type="text" ng-model="editVm.part.officePhone" >
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="editParty-attendees">Number Attending:</label><br>
    <input type="number" ng-model="editVm.part.attendees"  style="width: 70px; text-align: center;">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="editParty-description">Description of the Party Event:</label><br>
    <input type="text" ng-model="editVm.part.description"  style="height: 100px; width:900px;">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="editParty-publicOrPrivate">Public or Private Event?:</label><br>
    <select type="text" ng-model="editVm.part.publicOrPrivate">
      <option value="Public">Public</option>
      <option value="Private">Private</option>
    </select>
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="editParty-sponsors">Sponsors:</label><br>
    <input type="text" ng-model="editVm.part.sponsors" >
  </div>
  <div>
    <input type="submit" value="Edit New Party Event!">
  </div>
</form>
