<h3>Edit This Party</h3>
<form ng-submit="editVm.updatePart()">
  <div>
    <label for="editParty-title">Party Title:</label><br>
    <input type="text" ng-model="editVm.part.partyTitle">
  </div>
  <div>
    <label for="editParty-organizer">Organizer:</label><br>
    <input type="text" ng-model="editVm.part.organizer" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="editParty-company">Company:</label><br>
    <input type="text" ng-model="editVm.part.company" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="editParty-video">Video:</label><br>
    <input type="text" ng-model="editVm.part.video" placeholder="Enter Party Title Here" style="width: 700px;">
  </div>
  <div>
    <label for="editParty-img">Image URL:</label><br>
    <input type="text" ng-model="editVm.part.map" placeholder="Enter Party Title Here" style="width: 700px;">
  </div>
  <div>
    <label for="editParty-location">Location:</label><br>
    <input type="text" ng-model="editVm.part.location" placeholder="Enter Party Title Here" style="height: 100px; width: 300px;">
  </div>
  <div>
    <label for="editParty-email">Email:</label><br>
    <input type="text" ng-model="editVm.part.email" placeholder="Enter Party Title Here" style="width: 300px;">
  </div>
  <div>
    <label for="editParty-cellPhone">Cell Phone:</label><br>
    <input type="text" ng-model="editVm.part.cellPhone" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="editParty-officePhone">Office Phone:</label><br>
    <input type="text" ng-model="editVm.part.officePhone" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="editParty-attendees">Number Attending:</label><br>
    <input type="number" ng-model="editVm.part.attendees" placeholder="Enter Party Title Here" style="width: 70px; text-align: center;">
  </div>
  <div>
    <label for="editParty-description">Description of the Party Event:</label><br>
    <input type="text" ng-model="editVm.part.description" placeholder="Enter Party Title Here" style="height: 100px; width:900px;">
  </div>
  <div>
    <label for="editParty-publicOrPrivate">Public or Private Event?:</label><br>
    <select type="text" ng-model="editVm.part.publicOrPrivate">
      <option value="Public">Public</option>
      <option value="Private">Private</option>
    </select>
  </div>
  <div>
    <label for="editParty-sponsors">Sponsors:</label><br>
    <input type="text" ng-model="editVm.part.sponsors" placeholder="Enter Party Title Here">
  </div>
  <div>
    <input type="submit" value="Edit New Party Event!">
  </div>
</form>
