<form ng-submit="newVm.addProfPart()">
  <div>
    <label for="newParty-title">Party Title:</label>
    <input type="text" ng-model="newVm.newProfPart.partyTitle" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="newParty-organizer">Organizer:</label>
    <input type="text" ng-model="newVm.newProfPart.organizer" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="newParty-company">Company:</label>
    <input type="text" ng-model="newVm.newProfPart.company" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="newParty-video">Video:</label>
    <input type="text" ng-model="newVm.newProfPart.video" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="newParty-map">Image URL:</label>
    <input type="text" ng-model="newVm.newProfPart.img" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="newParty-location">Location:</label>
    <input type="text" ng-model="newVm.newProfPart.location" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="newParty-email">Email:</label>
    <input type="text" ng-model="newVm.newProfPart.email" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="newParty-cellPhone">Cell Phone:</label>
    <input type="text" ng-model="newVm.newProfPart.cellPhone" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="newParty-officePhone">Office Phone:</label>
    <input type="text" ng-model="newVm.newProfPart.officePhone" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="newParty-attendees">Number Attending:</label>
    <input type="number" ng-model="newVm.newProfPart.attendees" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="newParty-description">Description of the Party Event:</label>
    <input type="text" ng-model="newVm.newProfPart.description" placeholder="Enter Party Title Here">
  </div>
  <div>
    <label for="newParty-publicOrPrivate">Public or Private Event?:</label>
    <select type="text" ng-model="newVm.newProfPart.publicOrPrivate">
      <option value="Public">Public</option>
      <option value="Private">Private</option>
    </select>
  </div>
  <div>
    <label for="newParty-sponsors">Sponsors:</label>
    <input type="text" ng-model="newVm.newProfPart.sponsors" placeholder="Enter Party Title Here">
  </div>
  <div>
    <input type="submit" value="Add New Party Event!">
  </div>
</form>
