<h3 style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 80px; color: white;">Make Party!!!</h3>
<form ng-submit="newVm.addProfPart()" ng-show="newVm.authService.isLoggedIn()">
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="newParty-title">Party Title:</label><br>
    <input type="text" ng-model="newVm.newProfPart.partyTitle">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="newParty-organizer">Organizer:</label><br>
    <input type="text" ng-model="newVm.newProfPart.organizer">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="newParty-company">Company:</label><br>
    <input type="text" ng-model="newVm.newProfPart.company">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="newParty-video">Video URL:</label><br>
    <input type="text" ng-model="newVm.newProfPart.video">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="newParty-img">Image URL:</label><br>
    <input type="text" ng-model="newVm.newProfPart.img">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="newParty-location">Location:</label><br>
    <input type="text" ng-model="newVm.newProfPart.location">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="newParty-email">Email:</label><br>
    <input type="text" ng-model="newVm.newProfPart.email">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="newParty-cellPhone">Cell Phone:</label><br>
    <input type="text" ng-model="newVm.newProfPart.cellPhone">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="newParty-officePhone">Office Phone:</label><br>
    <input type="text" ng-model="newVm.newProfPart.officePhone">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="newParty-attendees">Number Attending:</label><br>
    <input type="number" ng-model="newVm.newProfPart.attendees">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="newParty-description">Description of the Party Event:</label><br>
    <input type="text" ng-model="newVm.newProfPart.description">
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="newParty-publicOrPrivate">Public or Private Event?:</label><br>
    <select type="text" ng-model="newVm.newProfPart.publicOrPrivate">
      <option value="Public">Public</option>
      <option value="Private">Private</option>
    </select>
  </div>
  <div>
    <label style="font-family:'Monoton', cursive; margin: 0 auto; font-size: 30px; color: orange;" for="newParty-sponsors">Sponsors:</label><br>
    <input type="text" ng-model="newVm.newProfPart.sponsors">
  </div>
  <div>
    <input type="submit" value="Add New Party Event!">
  </div>
</form>
